# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

*.aux
*.blg
*.ilg
*.idx
*.ind
*.log
main.pdf
challenge.pdf
*~
*backup
D.challenges2/D.challenges2/
D.challenges2/D.challenges2.zip
D.challenges2/2.arXivsubmission/



